<template>
  <v-container fluid>
    <v-row justify="space-around">
      <v-col cols="1">
        <div class="title mb-1">Default</div>
        <div class="subheading">Matching</div>
        <v-img :src="images" aspect-ratio="1.7"></v-img>
        <v-card> </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      images: require('../assets/pin.jpg')
    }
  }
}
</script>
