<template>
  <div class="home">
    <Formulaire
      :formulaire="Formulaire"
      @closeFormulaire="CloseFormulaire"
      @newMarker="AddMarker"
      @DelPoint="DeleteMarker"
      class="ma-0 float-left"
    />
    <SearchBar
      class="ma-0"
      :markers="Markers"
      @editmarker="FormulaireEditor"
      @delmarker="RemoveMarker"
      @selectedItem="Selected"
    />
    <keep-alive>
      <Map
        class="d-flex"
        :markers="Markers"
        :markerSelected="MarkerSelected"
        @removeMarker="RemoveMarker"
        @createMarker="FormulaireCreator"
        @editMarker="FormulaireEditor"
        @markerDrague="MarkerMove"
        @newLatLong="MarkerDraguedPos"
        :markerDragued="MarkerDragued"
        block
      />
    </keep-alive>
  </div>
</template>

<script>
// @ is an alias to /src
import myStore from '@/store/myStore'
import SearchBar from '@/components/searchBar.vue'
// import Map from '@/components/map.vue'
const Map = () => import(/* webpackChunkName: "map" */ '@/components/map.vue')
// import List from '@/components/list.vue'
// const List = () => import(
//     /* webpackChunkName: "list" */ '@/components/list.vue'
//   )
// import Formulaire from '@/components/editForm.vue'
const Formulaire = () =>
  import(/* webpackChunkName: "formulaire" */ '@/components/editForm.vue')

export default {
  name: 'home',
  components: {
    Map,
    SearchBar,
    Formulaire
  },
  data () {
    return myStore
  },
  methods: {
    Selected (item) {
      let myObjet = {
        lat: item.lat,
        lon: item.lon
      }
      let newSelected = {
        name: item.name,
        visible: item.visible,
        lat: item.lat,
        lon: item.lon,
        position: myObjet,
        tooltips: { permanent: true, interactive: true }
      }
      this.MarkerSelected = []
      this.MarkerSelected.push(newSelected)
    },
    AddMarker: function (newMarker) {
      let myObjet = {
        lat: newMarker.lat,
        lon: newMarker.lon
      }
      let mymarker = {
        name: newMarker.name,
        lat: newMarker.lat,
        lon: newMarker.lon,
        position: myObjet,
        comments: newMarker.comments,
        owner: newMarker.owner,
        favori: newMarker.favori,
        category: newMarker.category,
        draggable: true,
        visible: true,
        address: newMarker.address,
        tooltips: { permanent: false, interactive: true }
      }
      this.CloseFormulaire()
      this.SendToBdd(mymarker)
    },
    RemoveMarker (item, id) {
      this.Markers.splice(id, 1)
    },
    FormulaireEditor (marker) {
      this.Formulaire.marker = marker
      this.FetchPoiParam.url = `${process.env.VUE_APP_ROOT_API}/poi/${marker.id}/`
      this.FetchPoiParam.method = 'PUT'
      this.Formulaire.on = true
    },
    FormulaireCreator (newMarker) {
      this.Formulaire.marker = newMarker
      this.FetchPoiParam.url = `${process.env.VUE_APP_ROOT_API}/poi/`
      this.FetchPoiParam.method = 'POST'
      this.Formulaire.on = true
      this.favori = this.GetFavori()
    },
    CloseFormulaire () {
      this.Formulaire.on = false
    },
    DeleteMarker (markerToDelete) {
      this.FetchPoiParam.url = `${process.env.VUE_APP_ROOT_API}/poi/${markerToDelete.id}/`
      this.FetchPoiParam.method = 'DELETE'
      fetch(this.FetchPoiParam.url, {
        method: this.FetchPoiParam.method,
        headers: {
          'Content-Type': 'application/json',
          Authorization: `token ${myStore.token}`
        }
      })
      let index = this.Markers.indexOf(markerToDelete)
      this.RemoveMarker(index)
      this.CloseFormulaire()
    },
    SendToBdd (myMarker) {
      fetch(this.FetchPoiParam.url, {
        method: this.FetchPoiParam.method,
        headers: {
          'Content-Type': 'application/json',
          Authorization: `token ${myStore.token}`
        },
        body: JSON.stringify(myMarker)
      })
        .then(res => res.json())
        .then(res => {
          if (this.FetchPoiParam.method === 'POST') {
            myMarker.id = res.id
            myMarker.favori = res.favori
            myMarker.owner = res.owner
            this.Markers.push(myMarker)
          }
        })
    },
    MarkerMove (marker) {
      this.MarkerDragued.MarkersIndex = this.Markers.indexOf(marker)
    },
    MarkerDraguedPos (newPos) {
      let i = this.MarkerDragued.MarkersIndex
      this.Markers[i].position = newPos
      this.Markers[i].lat = newPos.lat
      this.Markers[i].lon = newPos.lon
      this.FetchPoiParam.url = `${process.env.VUE_APP_ROOT_API}/poi/${this.Markers[i].id}/`
      this.FetchPoiParam.method = 'PATCH'
      this.SendToBdd(this.Markers[i])
    },
    GetFavori: function (favori) {
      fetch(`${process.env.VUE_APP_ROOT_API}/favori/`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Token ${myStore.token}`
        }
      })
        .then(res =>
          res.json()
        )
        .then(data => {
          this.favori = data
          this.category = data.map(item => item.name)
        })
        .catch(error => console.error(error))
    },
    GetCategory: function (tab) {
      return tab.map(item => item.name)
    }
  }
}
</script>
<style>
map {
  position: absolute;
  z-index: 0;
  height: 100%;
}
</style>
