<template>
  <div class="login" v-show="myStore.showLoggin">
    <v-expansion-panels v-model="active">
      <v-expansion-panel>
        <v-expansion-panel-header class="white" color="teal">Login</v-expansion-panel-header>
        <v-expansion-panel-content>
          <Login />
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header class="white" color="teal">Create account</v-expansion-panel-header>
        <v-expansion-panel-content>
          <createAccount />
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>

    <v-card-text>
      <v-btn icon>
        <v-icon>mdi-profile</v-icon>
      </v-btn>
    </v-card-text>
  </div>
</template>

<script>
import myStore from '@/store/myStore'
import Login from '@/components/login.vue'
import CreateAccount from '@/components/createAccount.vue'

export default {
  name: 'login',
  components: {
    Login,
    CreateAccount
  },
  data () {
    return {
      login: '',
      password: '',
      active: 0,
      myStore
    }
  }
}
</script>
<style>
.white {
  color: whitesmoke;
}
.login {
  overflow: hidden;
}
</style>
