<template>
  <v-card class="elevation-12">
    <v-card-text>
      <v-form>
        <v-text-field
          autofocus
          filled
          label="Username"
          type="text"
          v-model="login"
          class="form-control"
          clearable
        />
        <v-text-field
          filled
          label="Mail"
          type="mail"
          v-model="mail"
          class="form-control"
          clearable
        />
        <v-text-field
          filled
          label="Password"
          id="password"
          type="password"
          v-model="password"
          clearable
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn dark fluid @click="cancel" color="teal">Cancel</v-btn>
      <v-spacer />
      <v-btn dark fluid @click="submit" color="teal">OK</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'CreateAccount',
  data () {
    return {
      login: '',
      mail: '',
      password: ''
    }
  },
  methods: {
    submit () {
      let payload = {
        username: this.login,
        email: this.mail,
        password: this.password
      }
      fetch(`${process.env.VUE_APP_ROOT_API}/createuser/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          Accept: '*/*'
        },
        body: JSON.stringify(payload)
      })
        .then(res => res.json())
      this.$router.push({ path: '/' })
    },
    cancel () {
      this.$router.push({ path: '/' })
    }
  }
}
</script>
