<template>
  <v-dialog v-model="formulaire.on" persistent max-width="400px" max-height="500px">
    <v-card>
      <!-- <v-card-title>
            <span class="headline">Item descriptor</span>
      </v-card-title>-->
      <v-card-text>
        <v-container>
          <v-btn icon right absolute>
            <v-icon fluid @click="closeForm">mdi-close</v-icon>
          </v-btn>
          <v-row>
            <v-col cols="12" sm="3" md="8">
              <v-text-field label="Point Name" clearable v-model="formulaire.marker.name"></v-text-field>
            </v-col>
            <v-col cols="12" sm="3" md="8">
              <v-text-field label="Address" v-model="formulaire.marker.address"></v-text-field>
            </v-col>

            <v-col cols="12" sm="3" md="12">
              <v-text-field
                label="Comment"
                hint="enter your comments"
                persistent-hint
                clearable
                v-model="formulaire.marker.comments"
              ></v-text-field>
            </v-col>
            <v-col cols="6" sm="6">
              <v-select
                v-model="formulaire.marker.category"
                :items="myStore.category"
                label="category"
                hint="select one"
                persistent-hint
                required
                id="items"
              ></v-select>
            </v-col>
            <v-col cols="6" sm="6">
              <v-text-field
                hint=" create one"
                persistent-hint
                clearable
                v-model="formulaire.marker.category"
              ></v-text-field>
            </v-col>

            <v-card-actions>
              <v-col cols="12" sm="12" class="boutons">
                <v-btn
                  color="teal lighten-4"
                  @click="setMarker"
                  width="auto"
                  justify-space-around
                >Save</v-btn>
                <v-btn
                  color="teal lighten-4"
                  v-show="formulaire.marker.id"
                  @click="DelPoint"
                  width="auto"
                >Delete Point</v-btn>
              </v-col>
            </v-card-actions>
            <v-input v-model="formulaire.marker.lat" hidden></v-input>
            <v-input v-model="formulaire.marker.lon" hidden></v-input>
          </v-row>
        </v-container>
        <!-- <small>change name if necessary and click on save to update the database</small> -->
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import myStore from '../store/myStore'

export default {
  props: ['formulaire'],
  data () {
    return {
      myStore,
      dialog: false,
      name: null,
      comments: null,
      favori: [],
      category: [],
      address: null,
      myfavori: 1,
      myowner: 1
    }
  },
  methods: {
    setMarker: function () {
      let mymarker = this.formulaire.marker
      if (mymarker.favori) {
        this.myfavori = mymarker.favori
        this.myowner = mymarker.owner
      }
      let newMarker = {
        name: mymarker.name,
        lat: mymarker.lat,
        lon: mymarker.lon,
        comments: mymarker.comments,
        category: mymarker.category,
        favori: this.myfavori,
        owner: this.myowner,
        address: this.address
      }
      this.$emit('newMarker', newMarker)
    },
    closeForm: function () {
      this.$emit('closeFormulaire')
    },
    DelPoint: function () {
      let markerToDelete = this.formulaire.marker
      this.$emit('DelPoint', markerToDelete)
    }
  }
}
</script>
<style>
.boutons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: auto;
}
</style>
