<template>
  <v-footer v-bind="localAttrs" :padless="padless">
    <v-card flat tile width="100vw" class="teal lighten-4 text-center">
      <v-card-text>
        <v-btn v-for="icon in icons" :key="icon" class="mx-4" icon>
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn>
      </v-card-text>
      <v-divider></v-divider>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    icons: [
      'mdi-home',
      'mdi-email',
      'mdi-calendar',
      'mdi-facebook',
      'mdi-instagram',
      'mdi-logout'
    ],
    items: ['default', 'absolute', 'fixed'],
    padless: false,
    variant: 'default'
  }),
  methods: {},
  computed: {
    localAttrs () {
      const attrs = {}
      if (this.variant === 'default') {
        attrs.absolute = false
        attrs.fixed = false
      } else {
        attrs[this.variant] = true
      }
      return attrs
    }
  }
}
</script>
