<template>
  <v-menu bottom left>
    <template v-slot:activator="{ on }">
      <v-btn dark icon v-on="on">
        <v-icon>mdi-star</v-icon>
      </v-btn>
    </template>

    <v-list two-line>
      <subheader>Favoris</subheader>
      <v-list-item
        v-for="(item, id) in markers"
        :key="id"
        :input-value="select"
        @click="$emit('selectedItem', item, id)"
        @mouseover="$emit('selectedItem', item, id)"
        @mouseout="mouseOutList"
      >
        <v-list-item-content>
          <v-list-item-title v-text="item.name" />
          <v-list-item-subtitle v-text="item.position" />
        </v-list-item-content>

        <v-list-item-icon @click="$emit('editmarker', item, id)">
          <v-icon color="teal">mdi-pencil</v-icon>
        </v-list-item-icon>
        <v-list-item-icon @click="ok('share', 'share')">
          <v-icon color="teal">mdi-share-variant</v-icon>
        </v-list-item-icon>
        <v-list-item-icon @click="$emit('delmarker', item, id)">
          <v-icon color="teal">mdi-delete</v-icon>
        </v-list-item-icon>
      </v-list-item>
    </v-list>
  </v-menu>
</template>
<script>
import myStore from '@/store/myStore'
import menuFavoris from '@/components/menuFavoris.vue'

export default {
  props: ['markers'],
  data () {
    return {
      select: null,
      menuFavoris
    }
  },
  methods: {
    mouseOutList: function () {
      let Selection = {
        name: 'marqueur_inexistant',
        visible: false,
        lat: myStore.MarkerSelected[myStore.MarkerSelected.length - 1].lat,
        lon: myStore.MarkerSelected[myStore.MarkerSelected.length - 1].lon
      }
      this.$emit('selectedItem', Selection)
    }
  }
}
</script>
