<template>
  <v-card>
    <v-list>
      <v-btn align="center" depressed large color>
        <v-subheader inset:false>Favoris</v-subheader>
      </v-btn>
      <v-list-item-group v-model="markers" color="pink">
        <v-list-item
          v-for="(item, i) in markers"
          :key="i"
          @mouseover="$emit('mouseoverList', item, i)"
          @mouseout="$emit('mouseoutList', item, i)"
        >
          <v-list-item-content>
            <v-list-item-title v-text="item.name" @mouseover="linkMarker" @mouseout="unlinkMarker" />
            <v-list-item-subtitle v-text="item.position" />
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
export default {
  props: ['markers', 'markerSelected'],
  methods: {
    linkMarker: function (e) {
      let Selection = {
        name: e.target.innerText,
        position: JSON.parse(e.target.nextElementSibling.innerText)
      }
      this.$emit('link', Selection)
    }
  }
}
</script>
