<template>
  <v-card class="elevation-12">
    <v-card-text>
      <v-form>
        <v-text-field
          autofocus
          filled
          label= "Username"
          type="text"
          v-model="login"
          class="form-control"
          clearable
          />
        <v-text-field
          filled
          v-model="password"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="[rules.required, rules.min]"
          :type="show ? 'text' : 'password'"
          name="input-10-1"
          label="Password"
          hint="At least 8 characters"
          counter
          @click:append="show = !show"
          clearable
        />

      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn dark fluid @click="cancel" color="teal">Cancel</v-btn>
      <v-spacer />
      <v-btn dark fluid @click="submit" color="teal">Let's go !</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import myStore from '@/store/myStore'

export default {
  name: 'Login',
  data () {
    return {
      login: '',
      password: '',
      show: false,
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
        emailMatch: () => ('The email and password you entered don\'t match')
      },
      myStore
    }
  },
  methods: {
    submit () {
      let payload = {
        username: this.login,
        password: this.password
      }
      fetch(`${process.env.VUE_APP_ROOT}/auth/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          Accept: '*/*'
        },
        body: JSON.stringify(payload)
      })
        .then(res => res.json())
        .then(res => {
          myStore.token = res.token
          myStore.showLoggin = false
          this.$router.push({ path: '/' })
        })
    },
    cancel () {
      this.$router.push({ path: '/' })
    }
  }
}
</script>
