<template>
  <l-map
    id="map"
    v-if="showMap"
    :zoom="zoom"
    :center="MyStore.center"
    :setCenter="center"
    :options="mapOptions"
    @update:center="centerUpdate"
    @update:zoom="zoomUpdate"
    @click="createMarker"
  >
    <l-tile-layer :url="url" :attribution="attribution" />

    <v-locatecontrol />
    <!-- parametre du markeur selectionné laisser le A dans la clef pour eviter les conflits-->
    <l-marker
      v-for="(monMarker, i) in markerSelected"
      :key="'A'+ i"
      :lat-lng="monMarker.position"
      :name="monMarker.name"
      :visible="monMarker.visible"
    >
      <l-tooltip :options="monMarker.tooltips">
        <div>{{monMarker.name}}</div>
      </l-tooltip>
    </l-marker>

    <!-- List des Markers du Store -->
    <l-marker
      v-for="(marker, index) in markers"
      :key="index"
      :visible="marker.visible"
      :title="marker.title"
      :draggable="marker.draggable"
      :lat-lng="marker.position"
      :name="marker.name"
      :comments="marker.comment"
      :favori="marker.favori"
      :owner="marker.owner"
      :id="marker.id"
      :category="marker.category"
      @click="$emit('editMarker', marker,index)"
      @drag="$emit('markerDrague',marker, index)"
      @dragend="newMarkerPos"
    >
      <l-tooltip :options="marker.tooltips">
        <div @click="innerClick">
          {{marker.name}}
          <p v-show="showParagraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            sed pretium nisl, ut sagittis sapien. Sed vel sollicitudin nisi.
            Donec finibus semper metus id malesuada.
          </p>
        </div>
      </l-tooltip>
    </l-marker>
  </l-map>
</template>

<script>
import MyStore from '@/store/myStore'
import { Icon } from 'leaflet'
import { LMap, LTileLayer, LMarker, LTooltip } from 'vue2-leaflet'
import 'leaflet.icon.glyph'
import 'leaflet/dist/leaflet.css'
import Vue2LeafletLocatecontrol from 'vue2-leaflet-locatecontrol'
delete Icon.Default.prototype._getIconUrl

Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png')
})

export default {
  name: 'MapVue2Leaflet',
  components: {
    LMap,
    LTileLayer,
    LMarker,
    // LPopup,
    LTooltip,
    'v-locatecontrol': Vue2LeafletLocatecontrol
  },
  props: ['markers', 'markerSelected', 'markerDragued', 'theAddress'],
  data () {
    return {
      MyStore,
      zoom: 13,
      center: MyStore.center,
      url: 'https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png',
      attribution:
        'donn&eacute;es &copy; <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
      currentZoom: 11,
      currentCenter: MyStore.center,
      showParagraph: false,
      mapOptions: {
        zoomSnap: 0.5
      },
      showMap: true
    }
  },
  watch: {
    currentCenter: function () {}
  },
  methods: {
    zoomUpdate (zoom) {
      this.currentZoom = zoom
    },
    centerUpdate (center) {
      this.currentCenter = center
    },
    showLongText () {
      this.showParagraph = !this.showParagraph
    },
    innerClick () {
      alert('Click!')
    },
    editMarker (e) {},

    createMarker: function (e) {
      let ladate = new Date()
      let myObjet = {
        lat: e.latlng.lat,
        lon: e.latlng.lng
      }
      fetch(
        `https://api-adresse.data.gouv.fr/reverse/?lat=${myObjet.lat}&lon=${myObjet.lon}`
      )
        .then(res => res.json())
        .then(res => {
          res.features.length !== 0 ? this.MyStore.theAddress = res.features[0].properties.label : this.MyStore.theAddress = 'unknown'
          let newMarker = {
            lat: e.latlng.lat,
            lon: e.latlng.lng,
            position: myObjet,
            comments: null,
            category: null,
            draggable: true,
            visible: true,
            address: this.MyStore.theAddress,
            name: `Marker-${ladate.getFullYear()}-${ladate.getMonth() +
              1}-${ladate.getDay()}_${this.markers.length}`
          }
          this.$emit('createMarker', newMarker)
        })
        .catch((error) => { console.error(error) })
    },
    markerDrague: function (marker) {},
    newMarkerPos: function (e) {
      let newPos = {
        lat: e.target._latlng.lat,
        lon: e.target._latlng.lng
      }
      this.$emit('newLatLong', newPos)
    }
  }
}
</script>
<style>
#map {
  z-index: 0;
  height: 100%;
  position: absolute;
}
</style>
