<template>
  <v-treeview activatable color="warning" :items="items"></v-treeview>
</template>

<script>
export default {
  data () {
    return {
      items: [
        {
          id: 1,
          name: 'Favori 1 :',
          children: [
            { id: 2, name: 'Category : POI' },
            { id: 3, name: 'Category : POI' },
            { id: 4, name: 'Category : POI' }
          ]
        },
        {
          id: 5,
          name: 'Favori 2 :',
          children: [
            { id: 2, name: 'Category : POI' },
            { id: 3, name: 'Category : POI' },
            { id: 4, name: 'Category : POI' }
          ]
        }
      ]
    }
  }
}
</script>
