<template>
  <v-toolbar dark color="teal">
    <v-btn icon @click="showSearch=!showSearch">
      <v-icon>mdi-magnify</v-icon>
    </v-btn>
    <v-autocomplete
      autofocus
      v-show="showSearch"
      v-model="select"
      :loading="loading"
      :items="items"
      :search-input.sync="search"
      class="mx-4"
      item-text="properties.label"
      item-value="properties.label"
      flat
      hide-no-data
      hide-details
      label="Search..."
      solo-inverted
      autocomplete
      return-object
      @change="SearchItem"
    />
    <v-btn v-show="MyStore.showLoggin" icon @click="login">
      <v-icon>mdi-account-off-outline</v-icon>
    </v-btn>

    <v-btn v-show="!MyStore.showLoggin" icon open-on-click="true">
      <v-icon>mdi-account</v-icon>
    </v-btn>

    <IconList
      :markers="markers"
      @selectedItem="selectedItem"
      @editmarker="editmarker"
      @delmarker="delmarker"
    />
  </v-toolbar>
</template>
<script>
import IconList from '@/components/icon_list.vue'
import MyStore from '@/store/myStore'
// import menuFavoris from '@/components/menuFavoris.vue'

export default {
  props: ['markers', 'markerSelected'],
  components: {
    IconList
    // menuFavoris
  },
  data () {
    return {
      MyStore,
      loading: false,
      items: [],
      search: null,
      select: null,
      message: null,
      menu: ['Profile', 'Logout'],
      showSearch: null
    }
  },
  watch: {
    search (val) {
      val && val !== this.select && this.querySelections(val)
    }
  },
  methods: {
    querySelections (v) {
      this.loading = true

      // To avoid DDOS API

      setTimeout(() => {
        if (v === this.search) {
          fetch(`https://api-adresse.data.gouv.fr/search/?q=${v}&limit=3`)
            .then(res => res.json())
            .then(res => {
              this.items = res.features
              this.loading = false
            })
        }
      }, 500)
    },
    selectedItem (item) {
      MyStore.center.lat = item.lat
      MyStore.center.lon = item.lon
      this.$emit('selectedItem', item)
    },
    SearchItem (e) {
      MyStore.center.lat = e.geometry.coordinates[1]
      MyStore.center.lon = e.geometry.coordinates[0]
      this.showSearch = !this.showSearch
    },
    editmarker (item, id) {
      this.$emit('editmarker', item, id)
    },
    delmarker (item, id) {
      this.$emit('delmarker', item, id)
    },
    login () {
      this.$router.push({ path: '/login' })
    }
  }
}
</script>
