<template>
  <v-card color="grey lighten-4" flat position="absolute" class="mx-4">
    <v-toolbar>
      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </v-toolbar>
  </v-card>
</template>

<script>
export default {
  name: 'ToolBar',
  data () {
    return {}
  }
}
</script>
