<template>
  <v-app>
    <v-content>
      <v-toolbar-title align="center" color="white" justify="space-between">
        <router-view />
      </v-toolbar-title>
    </v-content>
    <Footer></Footer>
  </v-app>
</template>

<script>
import Footer from '@/components/footer.vue'
export default {
  name: 'App',
  components: {
    Footer
  }
}
</script>
